# edit the `terraform.tfvars.example` file, populating the fields with the
# relevant values, and then rename it to `terraform.tfvars`.

# GCP project number
gcp_project_number = "********"

# Absolut path to keyfile (.json) for service account with roles/netappcloudvolumes.admin.
# See https://cloud.google.com/solutions/partners/netapp-cloud-volumes/api?hl=en_US
gcp_service_account = "/Users/********/Downloads/cvs-terraform-dev-********.json"

